.satauri {
  text-align: center;
}

.newInput {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  gap: 2px;
}

.card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  margin-top: 20px;
  text-align: center;
  margin-inline: 30px;
}

.card li {
  height: 200px;
  display: flex;
  flex-direction: column;
  background-color: rgb(151, 255, 220);
  border-radius: 20px;
  align-items: start;
  padding: 15px;
}
.name {
  margin-bottom: 100px;
  font-size: 20px;
  color: rgb(180, 46, 46);
  width: 70px;
  background-color: rgb(243, 160, 160);
  border-radius: 10px;
  margin-left: 15px;
}
.category {
  margin-bottom: 15px;
  margin-left: 10px;
  font-size: 25px;
  color: rgb(0, 0, 0);
}
.price {
  margin-left: 10px;
  color: rgb(42, 182, 0);
  font-size: 20px;
}
